
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
   
}
.custom{
    background-color: aqua;
    padding: 5px;
    height: 70px;
    .logo{
        padding: 10px;
    }
    .button-click{
        display: none;
        .click-button{
            font-size: 22px;
        }
        .click-1{
            position: absolute;
            right: 10px;
            font-size: 30px;

        }
        .click-2{
            position: absolute;
            font-size: 30px;
            right: 10px;
        }
        
    }
    .side-bar-menu{
        transform: translate(10px, 12px);
        transition:all 1s linear 3s;
        z-index: 1500;
        
        nav{
          
            ul{
                
                li{
                    padding: 3px;
                    display: inline-block;
                }
            }
        }
    }
    .buttons{
        height: 100%;
        padding: 11px;
        z-index: 1000;
        
        .left{
            display: inline-block;
            width: 165px;
            height: 35px;
            background-color: greenyellow ;
            padding: 4px;
            text-align: center;
        }
        .right{
            display: inline-block;
            width: 150px;
            height: 35px;
            margin-left: 10px;
            background-color: white ;
            padding: 4px;
            text-align: center;
            
        }
    }
}
.p2{
    
    width: 100%;
    height: 200px;
    background-color: blue;
}
@media(max-width:1200px){
    .side-bar-menu{
        position: relative;
        right: -139px;
        top: -56px;
    }
    .buttons{
        position: relative;
        bottom: 58px;
        left: 88px;
    }
}

@media(max-width:992px){
    .button-click{
        float: right;
        display: block !important;
        .click-2{
            display: none ;
            
        }
    }
    .click-button{
        position: relative;
        left: -40px;
        top: 7px;
    }

    .buttons{
        display: none;
        position: relative;
        left: 0;
        top: 17px;
    }

    .row{
        position: relative;
    }
    .side-bar-menu{
        display: none;
        position: relative;
        top: 8px;
        left: 50%;
        background-color: greenyellow ;
        nav{
            ul{
                li{
                    display: block !important;
                }
            }
        }
    }
    
}
    
